table, th, td {
    padding: 10px;
    border-radius: 10px;
}

table{
    width: 400px;
    height: 600px;
}

button{
   width: 100%;
    height: 100%;
    font-size: x-large;
}

#current_display #total_display{
    width: 100%;
    height: 100%;
    display: table-cell;
    background-color: transparent;

}

#current_display_table_element{
    background-color: orange;
}
#total_display_table_element{
    background-color: white;
}

table{
    border: 3px solid black;
    background-color: darkgrey;
}